<%= form_for(@namespace) do |f| %>
  <% if @namespace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@namespace.errors.count, "error") %> prohibited this namespace from being saved:</h2>

      <ul>
      <% @namespace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br />
    <%= f.datetime_select :creation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
