<p id="notice"><%= notice %></p>

<p>
  <b>Template:</b>
  <%= @minter.template %>
</p>

<p>
  <b>Frozen minter:</b>
  <%= @minter.frozen_minter %>
</p>


<%= link_to 'Edit', edit_minter_path(@minter) %> |
<%= link_to 'Back', minters_path %>
